.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
